#root {
  width: 100px;
  height: 100px;
  color:white;
}

.emoji-container {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-color:#213547;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo-emoji{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
}

.emoji-rostro-container{
  width: 82%;
  height: 82%;
  position: relative;
  overflow: hidden;
}
.emoji-rostro{
  object-position: 0%;
  position: absolute;
  top:0%;
  left: 0%;
  width: 1500%;
  height: auto;
}
